* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: helvetica, sans-serif;
	word-break: keep-all;
}

body { 
	-ms-overflow-style: none; 
} 

body::-webkit-scrollbar { 
	display: none; 
} 

.desktop {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.mobile {
	display: none;
}

video {
	display: none;
}
.name {
	position: absolute;
	left: 0;
	width: 200px;
	margin: 20px;
}

.namemobile {
	display: none;
}

.logo {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 70px;
}

.carousel {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	overflow: hidden;
	display: flex;
}

.carousel > * {
      flex: 0 0 50%;
}

.group {
    display: inline-flex;
    gap: 20px;
    padding-right: 20px;
	will-change: transform;
	animation: scrolling 12s linear infinite;
}

.card {
	width: 700px;
	border-radius: 24px;
	justify-content: center;
	align-items: center;
	min-height: 110px;
}

.seven {
	width: 260px;
	border-radius: 24px;
	justify-content: center;
	align-items: center;
	min-height: 110px;
}

/*.card:nth-child(1) {
  background: #7958ff;
}

.card:nth-child(2) {
  background: #5d34f2;
}

.card:nth-child(3) {
  background: #4300da;
}
*/

.info {
	position: absolute;
	width: 22px;
	top: 0;
	height: calc(50% - 60px);
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	display: flex;
}

.info2 {
	position: absolute;
	width: 22px;
	height: calc(50% - 60px);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	overflow: hidden;
	display: flex;
}

.info > * {
      flex: 0 0 50%;
}

.igroup {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
	will-change: transform;
	animation: iscrolling 10s linear infinite;
}

.icard {
	width: 20px;
	justify-content: center;
	align-items: center;
}

.info .icard {
	min-height: 700px;
} 

.info2 .icard {
	min-height: 760px;
} 

@keyframes scrolling {
	0% {
	  transform: translateX(0);
	}
	100% {
	  transform: translateX(-100%);
	}
}

@keyframes iscrolling {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-200%);
	}
}

/* ----------- 달력 ----------- */


.schedule {
	height: 100%;
	background-color: red;
}

.schedule header {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.schedule nav {
	position: absolute;
	bottom: 25px;
	width: 100%;
	height: 25px;
	border-bottom: 1px solid black;
}

.schedule h1 {
	font-size: 16px;
}

.schedule a {
	color: black;
	text-decoration: none;
}

.schedule ol {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid black;
	height: 100%;
}

.schedule ol li {
	list-style: none;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	padding: 0 10px 0 10px;
}

.schedule .calendar {
	position: absolute;
	top: 0;
	width: 100%;
	height: calc(100% - 50px);
	border-collapse: collapse;
	display: flex;
	flex-direction: column-reverse;
}

th {
	height: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

tr {
	display: flex;
}

td:nth-child(7) {
	border-right: none;
}

td {
	font-size: 15vh;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

th {
	width: calc(100vw / 7);
	font-weight: bold;
}

td {
	width: calc(100vw / 7);
	height: calc((100vh - 75px) / 5);
	font-weight: bold;
}

.schedule a:hover,
.schedule ol li:hover,
td:hover {
	color: white;
	opacity: 0.5;
	cursor: pointer;
}

.tens {
	letter-spacing: -0.6vw;
	padding-right: 1vw;
}

.event {
	position: relative;
	bottom: 2vh;
	font-size: 1.5vh;
	text-align: center;
	letter-spacing: 0;
}

.tens .event {
	padding-left: 1vw;
}

.nodate {
	color: red;
	font-size: 0;
}

@media screen and (max-width: 1000px) {

	video {
		display: block;
		position: absolute;
		width: 100%;
		height: auto;
		z-index: -1;
	}

	.desktop {
		display: none;
	}

	.mobile {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: auto;
		display: block;
		z-index: -1;
	}

	.name {
		width: 35%;
	}

	.namemobile {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		padding: 10px;
		z-index: 2;
	}

	.logo {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
	}

	.carousel {
		display: none;
	}

	.card {
		width: 300px;
		border-radius: 24px;
		justify-content: center;
		align-items: center;
		min-height: 110px;
	}

	.seven {
		width: 110px;
		border-radius: 24px;
		justify-content: center;
		align-items: center;
		min-height: 110px;
	}

	.group {
		animation: scrolling 10s linear infinite;
	}


	.info {
		height: calc(50% - 60px);
	}

	.info2 {
		height: calc(50% - 60px);
	}

/* --------------- 모바일 달력 --------------- */
	td {
		font-size: 10vw;
	}

	.event {
		position: relative;
		bottom: 0;
		font-size: 16px;
		text-align: center;
		letter-spacing: 0;
	}

}

@media screen and (max-width: 1000px) and (max-aspect-ratio: 9/16) {

	video {
		position: absolute;
		width: auto;
		height: 100%;
		z-index: -1;
	}

	.mobile {
		position: absolute;
		width: auto;
		height: 100%;
		display: block;
	}

}